
<% if @board.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

    <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @board, url: boards_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Board' %>
  </div>
<% end %>