
<span> Board name : <%= @board.name %></span>


<%= form_with(model: [@board, @list], url: board_lists_path(@board), method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create List' %>
  </div>
<% end %>

<h3>Lists</h3>

<div class="flex gap-3 h-full">
<% @board.lists.each do |list| %>
  <div class="border-2 border-red-400 w-64 h-full max-h-96 px-3 py-2 rounded-lg flex flex-col text-center">
    <span><%= list.name %></span>

<div data-controller="add-card">
  <%= turbo_frame_tag list do %>
  <% @cards.each do |card|%>
    <% if card.list_id == list.id %>
        <%= render partial: 'cards/card', locals: { card: card }  %>
    <% end %>
    <% end %>
  <% end %>

      <%= form_with(model: [list,list.cards.build], url:board_list_cards_path(@board,list), method: :post) do |form| %>
        <%= form.text_field :title, data: { 'add-card-target': 'cardNameInput', 'add-card-action': 'input->add-card#validateInput' }, placeholder: 'Enter card name', class: 'mb-2 px-2 py-1 border' %>
        <%= form.submit 'Add Card', data: { 'add-card-action': 'click->add-card#toggle', 'add-card-disable-with': 'Adding...' } %>
        <button data-add-card-target="closeButton" data-action="click->add-card#toggle" class="hidden">X</button>
      <% end %>
</div>
  </div>
<% end %>
</div>





