
<span> Board name : <%= @board.name %></span>

<h3>Lists</h3>

<% @board.lists.each do |list| %>
  <div>
    <span><%= list.name %></span>
  </div>
<% end %>

<%= form_with(model: [@board, @list], url: board_lists_path(@board), method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create List' %>
  </div>
<% end %>



